- let imgPath = "/assets/images"
- let pdfPath = "/assets/pdf"
-
  pages = {
    top: {
      title       : '',
      sitename    : '',
      description : '',
      keywords    : '',
      url         : '',
      ogp         : '',
      sharetext   : '',
      hashtag     : '',
      copyright   : ''
    },
    about: {
      title       : '',
      sitename    : '',
      description : '',
      keywords    : '',
      url         : '',
      ogp         : '',
      sharetext   : '',
      hashtag     : '',
      copyright   : ''
    },

  }
