extends _pug/_base/_layout


block vars
  include _pug/_base/_settings
  - let key = "about"
  - let page = pages[key]


block header
  include _pug/_includes/organisms/_header

block contents
  .page-container(data-page="sub").sub
    | about

block footer
  include _pug/_includes/organisms/_footer
